.body {
    margin: 0;
    font-family: "inter", "sans-serif"; 
}
.wrap{
    width: 1170px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #fff;
    padding: 14.6px 44.5px 13.4px;
    text-decoration: none;
    background: #2D3436;
    border-radius: 999px;
    /* box-sizing: border-box; */
    /* width: 170px;
    height: 64px;
    text-align: center; */
}
.button_m {
    font-size: 32px;
    line-height: 48 px;
    letter-spacing: -0.5px;
    padding: 24px 49.5px;
    /* color: #6C5CE7;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    border-radius: 999px;
    width: 270px;
    height: 82px;
    text-align: center; */
}