@import "base.css";
@import "header.css";
@import "main-block.css";
@import "portfolio.css";
@import "services.css";
@import "pricing.css";


.footer {
    margin-top: 10rem;
}
.footer__wrap{
    display: grid;
    grid-template-areas: "social mail"
                            "info form";
}

.footer__social {
    grid-area: social;
}
.footer__title {
    font-weight: var(--font-extra-bold);
    font-size: 1.2rem;
    line-height: 1.5rem;
    align-items: center;
    letter-spacing: .25rem;
    text-transform: uppercase;
    color: #ADADAD;
    margin: 0;
    margin-bottom: 1rem;
}
.social__link {
    margin-right: 3.7rem;
    display: inline-block;
    border-radius: 100%;
}
.social__link:hover {
    background: var(--orange);
}
.social__icon {
    /* width: 100%;
    height: 100%; */
}
.footer__mail {
}
.footer__mail-link {
    font-weight: var(--font-bold);
    font-size: 3.2rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
    color: var(--purple);
    text-decoration: none;

}
.footer__info {
}
.footer__info-wrap {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(3, 4rem);
    grid-template-columns: repeat(3, 20rem);
}
.footer__link {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.71;
    letter-spacing: .025rem;
    /* text-decoration-line: underline; */
    color: var(--black);
    text-decoration: none;
}
.footer__link:hover{
    text-decoration: underline;
}
.footer__form{
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 17rem);
    grid-gap: 3rem ;
}
.footer__form-title {
    grid-row: 1 / 2;
    grid-column: 1 / span 4;
    margin: 0;
}
.footer__input {
    grid-row: 2 / 3;
    grid-column: span 2;
    height: 4.8rem; 
    background: var(--gray-soft) url(../icons/user.svg) right no-repeat; /**/
    border: none;
    border-radius: 1.6rem;
    padding: 0 1.6rem;   
    /* background-image: url(../icons/user.svg); 
    background-repeat: no-repeat;
    background-image: cen; */
}
.footer__input:last-of-type{
    background-image: url(../icons/mail.svg);
    background-repeat: no-repeat;
}
.footer__input::placeholder{
    color: var(--black);
}
.footer__textarea-wrap{
    grid-row: 3 / 4;
    grid-column: span 3;
    height: 8rem;
    position: relative;
}
.footer__textarea{
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 1.6rem 5rem 1.6rem 1.6rem;
    background: var(--gray-soft);
    border: none;
    border-radius: 1.6rem;
}
.footer__form-icon{
    position: absolute;
    top: 0%;
    right: 0;
}
.footer__form-icon path{
    stroke: var(--gray);
    stroke-width: 2;
}
.footer__textarea:focus + .footer__form-icon path{
    stroke: var(--purple);
    stroke-width: 3;
}
.footer__button {
}


/* .footer__textarea::placeholder{
    color: var(--black); 
}*/