.title{
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #2D3436;

}
.title_h1{
    font-weight: 800;
    font-size: 9.6rem;
    line-height: 104px;
    letter-spacing: -3px;   
}
.title_h2{
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 77px;
    letter-spacing: -1px;

}
.title_h3{
    font-size: 4.8rem;
    line-height: 56px;
    letter-spacing: -1px;

}
.title_h4{
    font-size: 3.2rem;
    line-height: 48px;
    letter-spacing: -0.5px;
}
.text{
    font-style: "normal";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 32px;
    color: #2D3436;
}
.text_big{
    font-size: 2.4rem;
    line-height: 36px;
    letter-spacing: -0.25px;    

}
.text_medium{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    letter-spacing: -0.25px;    

}
.text_small{
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.25px;    

}
.text_bold{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0.2px;    

}
.text_minicaps{
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;

}
@media screen and (max-width: 690px){    
    .title_h3{
        font-size: 3.5rem;       
    }     
    .text{       
        font-size: 1.4rem;
    } 
    .text_small{
        font-size: 1.2rem;
}
@media screen and (max-width: 560px){    
    .title_h3{
        font-size: 2.5rem; 
        line-height: 3rem;      
    }     
    .text{       
        font-size: 1.2rem;
        line-height: 1.2rem;      
    } 
    .text_small{
        font-size: 1rem;
        line-height: 1.2rem;      
}
@media screen and (max-width: 460px){    
    .title_h3{
        font-size: 2.2rem; 
        line-height: 3rem;      
    }     
    .text{       
        font-size: .9rem;
        line-height: 1.2rem;      
    } 
    .text_small{
        font-size: 0.8rem;
        line-height: 1.2rem;      
}
@media screen and (max-width: 100px){
    .title{        
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.25px;     
    }
    .title_h1{
        font-weight: 800;
        font-size: 9.6rem;
        line-height: 10.4rem;
        letter-spacing: -.3rem;   
    }
    .title_h2{
        font-weight: 900;
        font-size: 6.4rem;
        line-height: 7.7rem;
        letter-spacing: -.1rem;
    
    }
    .title_h3{
        font-size: 4.8rem;
        line-height: 5.6rem;
        letter-spacing: -.1rem;
    
    }
    .title_h4{
        font-size: 3.2rem;
        line-height: 4.8rem;
        letter-spacing: -0.05rem;
    }
    .text{
       
        font-size: 1.8rem;
        line-height: 3.2rem;
        color:var(--black);
    }
    .text_big{
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: -0.025rem;    
    
    }
    .text_medium{
        font-size: 2.4rem;
        line-height: 3.6rem;
        letter-spacing: -0.025rem;    
    
    }
    .text_small{
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.025rem;    
    
    }
    .text_bold{
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.02rem;    
    
    }
    .text_minicaps{
        /* font-family: "Inter";
        font-style: 400;
        font-weight: 800; */
        font-size: 1.2rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
        letter-spacing: .25rem;
        /* text-transform: uppercase; */
    
    }
}